# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# build caches
/.next/
/out/
/build
/.turbo
/.cache

# coverage
/coverage
/.nyc_output

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
**/*.log

# env files (can opt-in for committing if needed)
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc

# vercel
.vercel

# misc/editor
.DS_Store
Thumbs.db
*.pem
*.swp
*.swo
*.orig
*.iml
.vscode/
.idea/

# typescript
*.tsbuildinfo
next-env.d.ts
